@import url(fonts/airstream/stylesheet.css);
@import url(fonts/ostrichsans/stylesheet.css);
@import url(fonts/printclearly/stylesheet.css);
@import url(fonts/icons/foundation-icons.css);

body{
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-family: 'print_clearlyregular';
  font-size: 25px;
}
h1{
  font-family: 'ostrich_sansblack';
  font-size: 100px;
  margin-top: 0px;
  text-decoration: none;
  color: #a6f441;
  margin-bottom:5%;
}

#kcslink{
  color: #a6f441;
  text-decoration: none;
  cursor: pointer;

}
#kcslink:hover{
  color:black;
  cursor: pointer;
  text-decoration: none;
}

.container{
  margin-top: -40px;
  width: 45%;
}
h2{
font-family: 'airstreamregular';
font-size: 50px;
margin-top: 6%;
margin-bottom: 20px;
font-weight: 200;
}
#learnAbout{
  margin-top:10px;
}
.cats {
  background-color: #a6f441;
    border: none;
    border-radius: 5px;
    color: black;
  font-family: 'ostrich_sansblack';
    margin: 10px;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    position: relative;
    top: 15%;
    bottom: 50%;
}
.cats span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.cats span:after {
  content:" +";
  color: #a6f441;
  font-size: 30px;
  font-family: 'ostrich_sansblack';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.cats:hover{
  background-color: black;
}
.cats:hover span {
  padding-right: 20px;
  color: #a6f441;
}

.cats:hover span:after {
  opacity: 1;
  right: 0;
}
.initialcats{
    width:75%;
}
.socialIcon{
  color: #a6f441;
  font-size:25px;
  margin-right:12px;
  float: left;
}
.socialIcon:hover{
color:#25223d;
}

@media screen and (max-width: 600px) {
  body{
    font-size: 15px;
  }
  .h1{
    font-size: 60px;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  .cats {
    font-size: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 2px;
    position: relative;
    top: 0%;
    bottom: 0%;
  }
  .cats span:after {
  font-size: 20px;
  }
  .initialcats{
    width: 100%;
  }
  .container{
    width: 100%;
  }
}
