@import url(fonts/airstream/stylesheet.css);
@import url(fonts/ostrichsans/stylesheet.css);
@import url(fonts/printclearly/stylesheet.css);
@import url(fonts/printbold/stylesheet.css);
body{
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-family: 'print_boldregular';
  font-size: 20px;
}
html,body{
  margin:0;
  padding:0;
}
.navbutton{
float: right;
border: none;
background-color: transparent;
color: black;
margin: 2px;
font-size: 19px;
padding:7px;
font-family: 'ostrich_sansblack';
}
.navbutton:hover{
background-color: black;
color: white;
cursor: pointer;
}

h1{
  font-family: 'airstreamregular';
  color: black;
  font-size: 30px;
  display: inline-block;
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}
h1:hover{
  color: white;
  cursor: pointer;
  background-color: black;
  padding:10px;
  border-radius: 5px;
}
.navbar{
  background-color: #a6f441;
  padding:2px;
  padding-bottom: 5px;
  width: 100%;
  display: block;
}
.navcontents{
  margin-top:5px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.classcontainer{
  width: 90%;
  min-height: 500px;
  margin: 30px;
  display: inline-block;
  padding:5px;
/*  background-color:green;*/

}
.classcontent{
  background-color: rgba(255,255,255,0.25);
  width: 80%;
  min-height: 500px;
}
.lessoncontent{
  padding: 10px;
}
h2{
  margin:0px;
  padding: 2px;
  padding-top: 10px;
  font-family: 'ostrich_sansblack';
  color: #a6f441;
  font-size: 400%;
  background-color: black;
}
